<div class="contaier">

    <table table-striped table-borderd table-responsive>
        <thead>
            <tr class="table table-active table-bordered">
                <th>ID</th>
                <th>Name</th>
                <th>Fee</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of students" class="table-primary">
                <td>{{s.stdId}}</td>
                <td>{{s.stdName}}</td>
                <td>{{s.stdFee}}</td>
                <td>{{s.stdCourse}}</td>  
                <td>
                    <button (click)="deleteStudent(s.stdId)" class='btn btn-danger'>DELETE</button>
                </td>  
            </tr>
        </tbody>
        
    </table>
</div>