<h3>Create new Student</h3>

<form (ngSubmit)="saveStudent()">
    <div class="form-group">
        <label for="stdName">Student Name</label>
        <input [(ngModel)]="student['stdName']" type="text" class="form-control" id="stdName"   name="stdName"/>
    </div>
    <div>
        <label for="stdFee">Student Fee</label>
        <input  [(ngModel)]="student['stdFee']" type="text" class="form-control" id="stdFee"   name="stdFee"/>
    </div>
    <div>
        <label for="stdCourse">Student Course</label>
        <input [(ngModel)]="student['stdCourse']" type="text" class="form-control" id="stdCourse"   name="stdCourse"/>
    </div>
    <div>
    <input type="submit" value="Register Student" class="btn btnsuccess"/>
    </div>

</form>
        <div *ngIf="error; else successBlock">
        <span class="text-danger">Unable to Save Student</span>
        </div>

<ng-template #successBlock>
    <span class="text-success">{{message.message}}</span>
   </ng-template>