<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#"> STUDENTS
 APP</a>
 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="add" class="nav-link textwhite"><b>Register</b></a>
      </li>
      <li class="nav-item">
      <a routerLink="all" class="nav-link text-white"><b>View</b></a>
      </li>
     
      </ul>
     </nav>
     <br/>
     <router-outlet></router-outlet>